<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd"
	default-lazy-init="true">
	
	<!-- dao配置 -->
     <bean id="productDrawbackDao" class="cc.messcat.dao.drawback.ProductDrawbackDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
     </bean>

 	<!-- mgr配置 -->
    <bean id="productDrawbackManagerDao" class="cc.messcat.service.drawback.ProductDrawbackManagerDaoImpl">
        <property name="commissionInfoDao" ref="commissionInfoDao"></property>
        <property name="productDrawbackDao" ref="productDrawbackDao"></property>
        <property name="mcProductInfoDao" ref="mcProductInfoDao"></property>
         <property name="payOrderDao" ref="payOrderDao"></property>
         <property name="orderInfoDao" ref="orderInfoDao"></property>
         <property name="baseDao" ref="baseDao"></property>
         <property name="memberDao" ref="memberDao"></property>
    </bean>
    
    <!-- action配置 -->
    <bean id="productDrawbackAction" class="cc.messcat.web.drawback.ProductDrawbackAction" scope="prototype">
         <property name="productDrawbackManagerDao" ref="productDrawbackManagerDao"></property>
         <property name="payOrderManagerDao" ref="payOrderManagerDao"></property>
         <property name="baseManagerDao" ref="baseManagerDao"></property>
    </bean>

</beans>