<?xml version="1.0" encoding="UTF-8"?>

<menus>
	<menu>
		<menuName>基本配置</menuName>
		<authorize>EP_BASE</authorize>
		<pic>childMenu1</pic>
		<url></url>
		<isShowRightPanel>N</isShowRightPanel>
		<rightPanelName></rightPanelName>
		<rightPanelUrl></rightPanelUrl>
		<menu>
			<menuName>欢迎信息</menuName>
			<authorize>BASE_WELCOME</authorize>
			<pic></pic>
			<url>defaultAction.action</url>
			<isShowRightPanel>N</isShowRightPanel>
			<rightPanelName></rightPanelName>
			<rightPanelUrl></rightPanelUrl>
		</menu>
		<menu>
			<menuName>站点配置</menuName>
			<authorize>BASE_WEBSITE</authorize>
			<pic></pic>
			<url>webSiteAction.action</url>
			<isShowRightPanel>N</isShowRightPanel>
			<rightPanelName></rightPanelName>
			<rightPanelUrl></rightPanelUrl>
		</menu>
		<menu>
			<menuName>公共信息管理</menuName>
			<authorize>BASE_STANDBY</authorize>
			<pic></pic>
			<url>standbyAction.action</url>
			<isShowRightPanel>N</isShowRightPanel>
			<rightPanelName></rightPanelName>
			<rightPanelUrl></rightPanelUrl>
		</menu>
	</menu>

	<menu>
		<menuName>界面风格</menuName>
		<authorize>EP_SKIN</authorize>
		<pic>childMenu2</pic>
		<url></url>
		<isShowRightPanel>N</isShowRightPanel>
		<rightPanelName></rightPanelName>
		<rightPanelUrl></rightPanelUrl>
		<menu>
			<menuName>模板管理</menuName>
			<authorize>SKIN_SKIN</authorize>
			<pic></pic>
			<url>style/webSkinAction.action</url>
			<isShowRightPanel>N</isShowRightPanel>
			<rightPanelName></rightPanelName>
			<rightPanelUrl></rightPanelUrl>
		</menu>
		<menu>
			<menuName>风格管理</menuName>
			<authorize>SKIN_COLOR</authorize>
			<pic></pic>
			<url>style/webSkinAction!style.action</url>
			<isShowRightPanel>N</isShowRightPanel>
			<rightPanelName></rightPanelName>
			<rightPanelUrl></rightPanelUrl>
		</menu>
	</menu>
	
	<menu>
		<menuName>栏目配置</menuName>
		<authorize>EP_COLUMN</authorize>
		<pic>childMenu3</pic>
		<url>column/epColumnAction!query.action?father=0</url>
		<isShowRightPanel>Y</isShowRightPanel>
		<rightPanelName>栏目配置</rightPanelName>
		<rightPanelUrl>columnleftFrame.action</rightPanelUrl>
	</menu>
	
	<menu>
		<menuName>内容管理</menuName>
		<authorize>EP_COLLECTION</authorize>
		<pic>childMenu4</pic>
		<url>collection/mcProductInfoAction!query.action</url>
		<isShowRightPanel>Y</isShowRightPanel>
		<rightPanelName>内容管理</rightPanelName>
		<rightPanelUrl>collectionleftFrame.action</rightPanelUrl>
	</menu>
	<menu>
		<menuName>产品库</menuName>
		<authorize>EP_PRODUCT</authorize>
		<pic>childMenu9</pic>
		<url>collection/mcProductInfoAction!query.action</url>
		<isShowRightPanel>N</isShowRightPanel>
		<rightPanelName></rightPanelName>
		<rightPanelUrl></rightPanelUrl>
		<menu>
			<menuName>类型管理</menuName>
			<authorize>EP_PRODUCT_TYPE</authorize>
			<pic></pic>
			<url>product/productTypeAction!retrieveAllProductTypes.action</url>
			<isShowRightPanel>N</isShowRightPanel>
			<rightPanelName></rightPanelName>
			<rightPanelUrl></rightPanelUrl>
		</menu>
		<menu>
			<menuName>属性管理</menuName>
			<authorize>EP_PRODUCT_ATTR</authorize>
			<pic></pic>
			<url>product/attributeAction!retrieveAllAttributes.action</url>
			<isShowRightPanel>N</isShowRightPanel>
			<rightPanelName></rightPanelName>
			<rightPanelUrl></rightPanelUrl>
		</menu>
		
	</menu>
	<menu>
		<menuName>订单管理</menuName>
		<authorize>EP_ORDER</authorize>
		<pic>childMenu10</pic>
		<url></url>
		<isShowRightPanel>N</isShowRightPanel>
		<rightPanelName></rightPanelName>
		<rightPanelUrl></rightPanelUrl>
		<menu>
			<menuName>订单列表</menuName>
			<authorize>EP_ORDER_LIST</authorize>
			<pic></pic>
			<url>pay/payOrderAction!queryAllOrderPay.action?flag=year</url>
			<isShowRightPanel>N</isShowRightPanel>
			<rightPanelName></rightPanelName>
			<rightPanelUrl></rightPanelUrl>
		</menu>
		<menu>
			<menuName>发货单列表</menuName>
			<authorize>EP_ORDER_SEND</authorize>
			<pic></pic>
			<url>pay/payOrderAction!queryAllSendToReceiveOrder.action?flag=year</url>
			<isShowRightPanel>N</isShowRightPanel>
			<rightPanelName></rightPanelName>
			<rightPanelUrl></rightPanelUrl>
		</menu>
		<menu>
			<menuName>退货单审核</menuName>
			<authorize>EP_ORDER_AUDIT</authorize>
			<pic></pic>
			<url>drawback/productDrawbackAction!queryLikeDrawBackByApply.action?dateStr=year</url>
			<isShowRightPanel>N</isShowRightPanel>
			<rightPanelName></rightPanelName>
			<rightPanelUrl></rightPanelUrl>
		</menu>		
		<menu>
			<menuName>退换货单列表</menuName>
			<authorize>EP_ORDER_EXIT</authorize>
			<pic></pic>
			<url>drawback/productDrawbackAction!queryLikeDrawBackByDraw.action?dateStr=year</url>
			<isShowRightPanel>N</isShowRightPanel>
			<rightPanelName></rightPanelName>
			<rightPanelUrl></rightPanelUrl>
		</menu>	
		<menu>
			<menuName>订单回收站</menuName>
			<authorize>EP_ORDER_RECYCLE</authorize>
			<pic></pic>
			<url>pay/payOrderAction!queryByLikeCycle.action</url>
			<isShowRightPanel>N</isShowRightPanel>
			<rightPanelName></rightPanelName>
			<rightPanelUrl></rightPanelUrl>
		</menu>		
	</menu>	
	<menu>
		<menuName>会员管理(VIP)</menuName>
		<authorize>EP_MEMBER</authorize>
		<pic>childMenu11</pic>
		<url></url>
		<isShowRightPanel>N</isShowRightPanel>
		<rightPanelName></rightPanelName>
		<rightPanelUrl></rightPanelUrl>
		<menu>
			<menuName>会员列表</menuName>
			<authorize>EP_MEMBER_LIST</authorize>
			<pic></pic>
			<url>member/memberAction!queryAllMember.action</url>
			<isShowRightPanel>N</isShowRightPanel>
			<rightPanelName></rightPanelName>
			<rightPanelUrl></rightPanelUrl>
		</menu>
		<menu>
			<menuName>提现申请</menuName>
			<authorize>EP_MEMBER_DRAWCASH</authorize>
			<pic></pic>
			<url>member/commissionInfoAction!queryAllCashApplyBySeller.action</url>
			<isShowRightPanel>N</isShowRightPanel>
			<rightPanelName></rightPanelName>
			<rightPanelUrl></rightPanelUrl>
		</menu>
		<menu>
			<menuName>红包发放</menuName>
			<authorize>EP_MEMBER_SEND</authorize>
			<pic></pic>
			<url>member/commissionInfoAction!queryAllNestToSend.action</url>
			<isShowRightPanel>N</isShowRightPanel>
			<rightPanelName></rightPanelName>
			<rightPanelUrl></rightPanelUrl>
		</menu>
		<menu>
			<menuName>红包发放记录</menuName>
			<authorize>EP_MEMBER_SEND_RECORD</authorize>
			<pic></pic>
			<url>member/commissionInfoAction!queryAllCommissionInfo.action</url>
			<isShowRightPanel>N</isShowRightPanel>
			<rightPanelName></rightPanelName>
			<rightPanelUrl></rightPanelUrl>
		</menu>
		<menu>
			<menuName>代理商业绩记录</menuName>
			<authorize>EP_AGENT_RECORD</authorize>
			<pic></pic>
			<url>member/memberAction!queryAllAgentRecord.action</url>
			<isShowRightPanel>N</isShowRightPanel>
			<rightPanelName></rightPanelName>
			<rightPanelUrl></rightPanelUrl>
		</menu>
		<menu>
			<menuName>发放代理商提成</menuName>
			<authorize>EP_SEND_AGENT_MONEY</authorize>
			<pic></pic>
			<url>member/memberAction!queryAllAgentMoney.action</url>
			<isShowRightPanel>N</isShowRightPanel>
			<rightPanelName></rightPanelName>
			<rightPanelUrl></rightPanelUrl>
		</menu>
		<menu>
			<menuName>发放提成记录</menuName>
			<authorize>EP_SEND_AGENT_MONEY_RECORD</authorize>
			<pic></pic>
			<url>member/memberAction!queryAllAgentMoneyRecord.action</url>
			<isShowRightPanel>N</isShowRightPanel>
			<rightPanelName></rightPanelName>
			<rightPanelUrl></rightPanelUrl>
		</menu>
		<menu>
			<menuName>商品评论</menuName>
			<authorize>EP_MEMBER_EVALUATE</authorize>
			<pic></pic>
			<url>member/evaluateAction!queryAllEvaluates.action</url>
			<isShowRightPanel>N</isShowRightPanel>
			<rightPanelName></rightPanelName>
			<rightPanelUrl></rightPanelUrl>
		</menu>
		<menu>
			<menuName>信息配置</menuName>
			<authorize>EP_MEMBER_CONFIG</authorize>
			<pic></pic>
			<url>member/parameterSetAction!retrieveParameterSetById.action</url>
			<isShowRightPanel>N</isShowRightPanel>
			<rightPanelName></rightPanelName>
			<rightPanelUrl></rightPanelUrl>
		</menu>
		<menu>
			<menuName>卡券配置</menuName>
			<authorize>EP_MEMBER_TICKET</authorize>
			<pic></pic>
			<url>finance/ticketInfoAction!retrieveAllTicketInfos.action</url>
			<isShowRightPanel>N</isShowRightPanel>
			<rightPanelName></rightPanelName>
			<rightPanelUrl></rightPanelUrl>
		</menu>
		<menu>
			<menuName>积分规则</menuName>
			<authorize>EP_MEMBER_INTERGRALRULE</authorize>
			<pic></pic>
			<url>member/integralRuleAction!retrieveAllIntegralRules.action</url>
			<isShowRightPanel>N</isShowRightPanel>
			<rightPanelName></rightPanelName>
			<rightPanelUrl></rightPanelUrl>
		</menu>
	</menu>	
	<menu>
		<menuName>互动管理</menuName>
		<authorize>EP_DYNAMIC</authorize>
		<pic>childMenu5</pic>
		<url></url>
		<isShowRightPanel>N</isShowRightPanel>
		<rightPanelName></rightPanelName>
		<rightPanelUrl></rightPanelUrl>
		<menu>
			<menuName>友情链接管理</menuName>
			<authorize>DYNAMIC_LINKS</authorize>
			<pic></pic>
			<url>dynamic/enterpriseLinksAction.action</url>
			<isShowRightPanel>N</isShowRightPanel>
			<rightPanelName></rightPanelName>
			<rightPanelUrl></rightPanelUrl>
		</menu>
		<menu>
			<menuName>广告信息管理</menuName>
			<authorize>DYNAMIC_AD</authorize>
			<pic></pic>
			<url>dynamic/enterpriseAdAction.action</url>
			<isShowRightPanel>N</isShowRightPanel>
			<rightPanelName></rightPanelName>
			<rightPanelUrl></rightPanelUrl>
		</menu>
	</menu>		

	<menu>
		<menuName>优化推广</menuName>
		<authorize>EP_HTML</authorize>
		<pic>childMenu6</pic>
		<url></url>
		<isShowRightPanel>N</isShowRightPanel>
		<rightPanelName></rightPanelName>
		<rightPanelUrl></rightPanelUrl>
		<menu>
			<menuName>静态页面生成</menuName>
			<authorize>HTML_PRODUCT</authorize>
			<pic></pic>
			<url>html/enterpriseHtmlAction.action</url>
			<isShowRightPanel>N</isShowRightPanel>
			<rightPanelName></rightPanelName>
			<rightPanelUrl></rightPanelUrl>
		</menu>
		<menu>
			<menuName>静态页面设置</menuName>
			<authorize>HTML_SET</authorize>
			<pic></pic>
			<url>html/enterpriseHtmlAction!setHtml.htm</url>
			<isShowRightPanel>N</isShowRightPanel>
			<rightPanelName></rightPanelName>
			<rightPanelUrl></rightPanelUrl>
		</menu>
	</menu>	
		
	<menu>
		<menuName>系统数据</menuName>
		<authorize>EP_DATA</authorize>
		<pic>childMenu7</pic>
		<url>data/dataHandlerAction!showHistory.action</url>
		<isShowRightPanel>N</isShowRightPanel>
		<rightPanelName></rightPanelName>
		<rightPanelUrl></rightPanelUrl>
	</menu>

	<menu>
		<menuName>系统配置</menuName>
		<authorize>EP_SYSTEM</authorize>
		<pic>childMenu8</pic>
		<url></url>
		<isShowRightPanel>N</isShowRightPanel>
		<rightPanelName></rightPanelName>
		<rightPanelUrl></rightPanelUrl>
		<menu>
			<menuName>用户相关</menuName>
			<authorize>SYSTEM_USER,SYSTEM_AUTHORITIES,SYSTEM_ROLE</authorize>
			<pic></pic>
			<url></url>
			<isShowRightPanel>N</isShowRightPanel>
			<rightPanelName></rightPanelName>
			<rightPanelUrl></rightPanelUrl>
			<menu>
				<menuName>用户管理</menuName>
				<authorize>SYSTEM_USER</authorize>
				<pic></pic>
				<url>usersAction.action</url>
				<isShowRightPanel>N</isShowRightPanel>
				<rightPanelName></rightPanelName>
				<rightPanelUrl></rightPanelUrl>
			</menu>
			<menu>
				<menuName>权限管理</menuName>
				<authorize>SYSTEM_AUTHORITIES</authorize>
				<pic></pic>
				<url>authoritiesAction.action</url>
				<isShowRightPanel>N</isShowRightPanel>
				<rightPanelName></rightPanelName>
				<rightPanelUrl></rightPanelUrl>
			</menu>
			<menu>
				<menuName>角色管理</menuName>
				<authorize>SYSTEM_ROLE</authorize>
				<pic></pic>
				<url>rolesAction.action</url>
				<isShowRightPanel>N</isShowRightPanel>
				<rightPanelName></rightPanelName>
				<rightPanelUrl></rightPanelUrl>
			</menu>
		</menu>
		<menu>
			<menuName>栏目相关</menuName>
			<authorize>SYSTEM_PAGE_TYPE,SYSTEM_ALTER_URL</authorize>
			<pic></pic>
			<url></url>
			<isShowRightPanel>N</isShowRightPanel>
			<rightPanelName></rightPanelName>
			<rightPanelUrl></rightPanelUrl>
			<menu>
				<menuName>页面类型管理</menuName>
				<authorize>SYSTEM_PAGE_TYPE</authorize>
				<pic></pic>
				<url>pageTypeAction!retrieveAllPageTypes.action</url>
				<isShowRightPanel>N</isShowRightPanel>
				<rightPanelName></rightPanelName>
				<rightPanelUrl></rightPanelUrl>
			</menu>
			<menu>
				<menuName>批量修改URL</menuName>
				<authorize>SYSTEM_ALTER_URL</authorize>
				<pic></pic>
				<url>alterUrlAction.action</url>
				<isShowRightPanel>N</isShowRightPanel>
				<rightPanelName></rightPanelName>
				<rightPanelUrl></rightPanelUrl>
			</menu>
		</menu>
		<menu>
			<menuName>内容相关</menuName>
			<authorize>SYSTEM_PARAMETER</authorize>
			<pic></pic>
			<url></url>
			<isShowRightPanel>N</isShowRightPanel>
			<rightPanelName></rightPanelName>
			<rightPanelUrl></rightPanelUrl>
			<menu>
				<menuName>产品参数管理</menuName>
				<authorize>SYSTEM_PARAMETER</authorize>
				<pic></pic>
				<url>mcParameterAction.action</url>
				<isShowRightPanel>N</isShowRightPanel>
				<rightPanelName></rightPanelName>
				<rightPanelUrl></rightPanelUrl>
			</menu>
		</menu>
	</menu>
</menus>